doctype html
head
    title Test page
body
    block content
    //- comments with a dash following ("//-") are not rendered
    // whereas normal js comments are (select view-source to see this html comment)
    //- how were we able to access this dev variable in the template?
    if dev
        //- https://github.com/gruntjs/grunt-contrib-watch#enabling-live-reload-in-your-html
        script(src='//localhost:10000/livereload.js')
