/****************************************************
 * helpers.styl
 *
 * Contains all the helper functions/mixins for other stylus files
 *
 ***************************************************/

border-radius()
    -webkit-border-radius arguments
    -moz-border-radius arguments
    border-radius arguments

opacity()
    -moz-opacity arguments
    -khtml-opacity arguments
    opacity arguments

background-size()
    -webkit-background-size arguments
    -moz-background-size arguments
    -o-background-size arguments
    background-size arguments

/**************************************************
 * Flexbox
 *************************************************/

flexbox()
    display -webkit-box
    display -moz-box
    display -webkit-flex
    display -ms-flexbox
    display flex

inline-flexbox()
    display -webkit-inline-box
    display -mox-inline-box
    display -webkit-inline-flex
    display -ms-inline-flexbox
    display inline-flex

flex()
    -webkit-box-flex arguments
    -moz-box-flex arguments
    -webkit-flex arguments
    -ms-flex arguments
    flex arguments

order()
    -webkit-box-ordinal-group arguments
    -moz-box-ordinal-group arguments
    -ms-flex-order arguments
    -webkit-order arguments
    order arguments
