extends template

block content
    form#js-signup-form.form
        h1.form-title Sign Up for Coupon Delivery
        #error-message.error-message
        input.form-input.half(type='text' name='firstName' placeholder='First name')
        input.form-input.half(type='text' name='lastName' placeholder='Last name')
        input.form-input(type='number' name='classYear' placeholder='Class year')
        input.form-input(type='email' name='email' placeholder='Email' onfocus='clearError(this)')
        input.form-input(type='phone' name='phone' placeholder='Phone number*' onfocus='clearError(this)')
        select.form-input.half(name='phoneProvider' onfocus='clearError(this)' onchange='checkOther()')
            option(value='null') --Select Provider*--
            -for(var i = 0; i < providers.length; i++)
                -var p = providers[i];
                option(value= p.name)= p.longName
            option(value='other') Other
        input.form-input.half(type='text' name='other-provider' placeholder='Other'
            style='display:none')
        button.form-input.button(type='button' onclick='submitForm()') Submit
    .modal#js-success
        .modal-content
            h2 Thank you for registering!
            p Some great coupons will be heading your way
