doctype html
html
  head
    title= title || "HSA Coupon"
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src='/js/fetch.js')
  body
    block content
    script(src='/js/script.min.js')
    if token
        script localStorage.token = "#{token}"
    block postScript
    if dev
        script(src='//localhost:10000/livereload.js')
