doctype html
head
    title Example Page
body
    h1 Example List Generation
    p This is just a simple example of the ease of using a template engine
    - for (var i = 0; i < 10; i++)
        li List item ##{i}!
